/**
    Sélecteurs HTML
 */

body {
   /* background: linear-gradient(#000000 ,#008b8b, rgba(234, 159, 207, 0.93));*/
    background-attachment: fixed;
    font-family: sans-serif;
    color: white;
    min-font-size: 14px;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg,

            #85d7d7 0%,
            #006969 30%,
            rgba(234, 159, 207, 0.93) 50%,
            rgb(128, 58, 154) 70%,
            #000000 100%
    );
    animation: AnimateBG 5s ease infinite;

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .05);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 0 15px black;

    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg,

    #008b8b 0%,
            rgba(152,68,183,1) 100%
    );
    animation: AnimateBG 1s ease infinite;
}


footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .05);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 0 15px black;

    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg,
            #008b8b 0%,
            rgba(152,68,183,1) 100%
    );
    animation: AnimateBG 1s ease infinite;
}


a {
    text-decoration: none;
    color: white;
}

h1, h2 {
    animation: neon1 .45s ease-in-out infinite alternate;
    color: white;
    font-size: 2em;
}

/**
    Classes
 */

.bold {
    font-weight: bold;
}

.logo {
    animation: neon2 .45s ease-in-out infinite alternate;
    width: 10vw;
    margin-bottom: 1em;
    max-width: 70px;
    min-width: 30px;
}

.flex-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.label
{
    display: block;
    width: 150px;
    float: left;
}

.text-center {
    text-align: center;
}

.center {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.text-left {
    text-align: left;
}

.box * {
    margin: .5em;
}

.margin-xs {
    margin: .25em;
}

.margin-right-xs {
    margin-right: 1em;
}

.menu {
    margin-bottom: .5em;
}

.neon:hover, .neon:active {
    animation: neon1 .25s ease-in-out infinite alternate;
    font-size: 1.25em;
    transition: .2s;
}

.neon-no-hover {
    animation: neon1 .25s ease-in-out infinite alternate;
    font-size: 2em;
    transition: .2s;
}

.tab-titre, .tab-data {
    display: grid;
    padding: .5em;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: 1px solid rgba(255, 255, 255, .65);
    grid-auto-columns: auto;
}

.justify- {
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    margin: 1em;
}

.grid-card {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, .25);
    background: linear-gradient(#008b8b, rgba(234, 159, 207, 0.50));
    border-radius: .5em;
    box-shadow: 0 0 20px #FF11A7;
    text-shadow: 0 0 5px #008b8b;
    margin: 1em;
}

.width-100 {
    width: 100%;
}

.heigth-l {
    height: 3em;
}

.font-l {
    font-size: 2em;
}

.photo-profil {
    margin: auto;
    display: flex;
    border-radius: 15px;
    max-width: 150px;
    animation: neon2 .35s ease-in-out infinite alternate;
}

/**
    Boutons
 */
.btn, button, select {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size : 1em;
    text-align: center;
    transition: all 0.2s;
    margin: .5em;
    min-width: 150px;

}

input {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size : 1em;
    text-align: center;
    transition: all 0.2s;
    margin: .5em;
}



.btn-petit{
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size : 1em;
    text-align: center;
    transition: all 0.2s;
    margin: .5em;
    width: 100px;
}



select:hover, input:hover, select:active, input:active {
    cursor: pointer;
    animation: neon2 .10s ease-in-out infinite alternate, neon1 .10s ease-in-out infinite alternate;
    color: white;
    font-weight: bold;
    background-color: #FFFFFF;
    transform: rotate(2deg);
}



button:hover, .btn:hover, button:active, .btn:active {
    cursor: pointer;
    animation: neon2 .10s ease-in-out infinite alternate, neon1 .15s ease-in-out infinite alternate;
    font-weight: bold;
    color: white;
    background-color: #FFFFFF;
    transform: rotate(2deg);
}

.btn-plus {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    border: 0.1em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 20px;
    border-radius: 100%;
    transition: all 0.2s;
}

.btn-plus:hover {
    animation: neon2 .10s ease-in-out infinite alternate, neon1 .15s ease-in-out infinite alternate;
    font-weight: bold;
    color: white;
    background-color: #FFFFFF;
    transform: rotate(360deg);
}

.center-img {
    margin: auto;
    margin-top: 2em;
    display: flex;
    border-radius: 20px;
    animation: neon2 .01s ease-in-out infinite alternate;
}

.grille {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}

/**
    Effets
 */
@keyframes neon1 {
    from {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #008b8b, 0 0 5px #008b8b, 0 0 5px #008b8b, 0 0 5px #008b8b, 0 0 5px #008b8b;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #FF11A7, 0 0 25px #FF11A7, 0 0 20px #FF11A7, 0 0 25px #FF11A7, 0 0 35px #FF11A7;
    }
}

@keyframes neon2 {
    from {
        filter: drop-shadow(0px 0px 5px #008b8b);
    }
    to {
        filter: drop-shadow(0px 0px 10px #FF11A7);
    }
}
@keyframes AnimateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/**
    MAP
 */
#map {
    height: 300px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

/**
    Responsive
 */

@media only screen and (-webkit-device-pixel-ratio: 3), screen and (-webkit-device-pixel-ratio: 2) {
    * {
        font-size: 50px;
    }

    input {
        min-width: 40px;
        min-height: 40px;
    }

    .filtres {
        display: none;
    }

    .grid-card {
        text-align: center;
    }

    .bold {
        font-weight: normal;
    }
}





/** Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px
@media screen and (max-width: 1280px)

    Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px
    @media all and (min-width: 1024px) and (max-width: 1280px)

        Sur tous types d'écrans orientés verticalement
        @media all and (orientation: portrait)

**/

