{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1>Profil</h1>
    {{ form(profilForm) }}
    <img src="{{ asset("images/products/" ~ user.image) }}" alt="">

{% endblock %}
