{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1 class="centrer">Profil</h1>

    <div class="centrer">
        {{ form(profilForm) }}
        <img src="{{ asset("images/products/" ~ user.image) }}" alt="">
    </div>

{% endblock %}
