{% extends 'base.html.twig' %}

{% block title %}
    <h1>Créer une sortie</h1>
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
        <a href={{ path('sortie_list') }}>Annuler</a>
    </div>
{% endblock %}