{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <div>
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:\Users\tlores2022\PhpstormProjects\projetSortir.com\src\Controller\SortieController.php'|file_link(0) }}">src/Controller/WishController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:\Users\tlores2022\PhpstormProjects\projetSortir.com\templates\sortie\index.html.twig'|file_link(0) }}">templates/wish/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}