<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <div class="container">
        <h1>
            <a href="{{ path('main_acceuil') }}">Acceuil </a>

        </h1>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
