{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Erreur inconnue
{% endblock %}

{% block body %}
    <h2 class="text-center">Erreur BALEK!</h2>

    <img class="center-img" src="{{ asset('images/error.png') }}"
         alt="Erreur inconnue">
{% endblock %}